<div class="h-center">
    <h1> <%= @card.name %> </h1>
    <br>
    <img src="http://via.placeholder.com/173x260" alt="placeholder image">
    <br>
    <p>Condition: <span class="<%= @card.condition.downcase %>"><%= @condition %></span></p>
    <p>Price: $<%= '%.2f' % @card.price %> </p>
    <p>Listed by: <%= link_to @card.user.email,  user_account_path(@card.user.id) %>
</div>
<br>
<% if @card.user == @user %>
    <div><%= link_to "Edit", edit_card_path(@card) %> | <%= link_to "Delete", @card, method: 'delete', data: {confirm: "Delete #{@card.name}?"} %></div>
<% elsif user_signed_in? %>
    <button data-stripe="payment" type="button">Buy now</button><span>With cash: $<%= '%.2f' % @card.price %></span>
<% else %>
    <%= link_to '<button type="button">Buy now</button>'.html_safe, new_user_session_path %><span>With cash: $<%= '%.2f' % @card.price %></span>
<% end %>
<br>
<br>
<%= link_to "Back", :back %>

<%# Stripe payment gateway logic %>
<script src="https://js.stripe.com/v3/"></script>

<script>
    document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
        const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :secret_key) %>")
        stripe.redirectToCheckout({
            sessionId: "<%= @session_id %>"
        });
    });
</script>




    